#title{
    font-family: 'Pacifico', cursive;
    font-size: 50px;
    color: rgb(61, 10, 61);
}
#title2{
    font-family: 'Quicksand', sans-serif;
    color:whitesmoke;
}
#crystals{
    background-image: image-set()
}
#crystal-image{
    position:center;
}
.footer {
    background: rgb(147, 132, 199);
    text-align: center;
    font-size: 8px;
    padding: 25px;
    border-top: rgb(180, 177, 184) solid 9px;
    bottom:0px;
    width: 100% !important;
}
#wins {
    font-family: 'Lobster', cursive;
    font-size: 20px;
}
#losses {
    font-family: 'Lobster', cursive;
    font-size: 20px;
}
#score {
    font-family: 'Lobster', cursive;
    font-size: 22px;
}
#background {
    background-image: url("./images/stars.jpg");
}