#heading {
    width: 100% !important;
}
#title{
    font-family: 'Pacifico', cursive;
    font-size: 50px;
    text-align: center;
    color: rgb(61, 10, 61);
}
#title2{
    font-family: 'Quicksand', sans-serif;
    color:whitesmoke;
    text-align: center;
}
#crystals{
    background-image: image-set()
}
#crystal-image{
    position:center;
}
.footer {
    background: rgb(147, 132, 199);
    padding: 30px;
    border-top: rgb(180, 177, 184) solid 9px;
    width: 1700px;
}
#wins {
    font-family: 'Lobster', cursive;
    font-size: 20px;
    color: rgb(61, 10, 61);
}
#losses {
    font-family: 'Lobster', cursive;
    font-size: 20px;
    color: rgb(61, 10, 61);
}
#score {
    font-family: 'Lobster', cursive;
    font-size: 22px;
    color: rgb(61, 10, 61);
}
.background {
    background-size: 1700px 750px;
    background-repeat: no-repeat;
    background-image: url("../images/stars.jpg");
}
.crystal-image {
    width: 25%;
    height: 250px;
}
#runningTotal {
    width: 20%;
    height: 40px;
    background-color: rgba(164, 148, 221, 0.726);
    margin: 0 auto;
}

#scoreBoard {
    width: 20%;
    height: 75px;
    background-color: rgba(164, 148, 221, 0.726);
    margin: 0 auto;
}
.container {
   min-height: 89vh;
}
.col-lg-12{
    widows: 1700px;
}